*{
    margin:0;
    padding:0;
    font-style:Qwitcher Grypen;
}
.header-main{
    background-image:url(img/head.jpg);
    height:100vh;
    width:auto;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}